@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --pink:#9B5E69;
    --black: #444;
    --light-color:#777;
    --box-shadow: 0 4px 8px rgba(253, 223, 228, 0.8);
    --text-shadow: .4rem .4rem 0 rgba(0,0,0, .2);
    --border: .2rem solid var(--pink);


}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    padding-top: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color: var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.2rem 1.5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--pink);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding: 1.5rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    margin-left: 1.5rem; 
}

.btn:hover{
    background: var(--pink);
    color: #fff; 
}

.btn:hover span{
    color: var(--pink);
    background: #fff;
    margin-left: 1rem; 
}

.header{
    padding: 2rem 9%;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.logo img{
    width: 20rem;
}

.header .logo i{
    color: var(--pink);
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.header .navbar a:hover{
    color: var(--pink);
}

.profile-icon i{
    font-size: 3rem;
    padding-left: .5rem;
    padding-right: 2rem;
    color: var(--black);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--pink);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 0 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.home .image{
    flex: 1 1 45rem;
}

.home .image img{
    width: 100%;
   
}

.home .content{
    flex: 1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;

}

.icons-container .icons i{
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color: var(--light-color);
}

.treatments .box-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   
}

.treatments .box-container .box{
    background: #fff; 
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;


}

.treatments .box-container .box i{

    color: var(--pink);
    font-size: 5rem;
    padding-bottom: .5rem;

}

.treatments .box-container .box h3{

    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;

}

.treatments .box-container .box p{

    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;

}

.about .heading {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

} 

.about .row .image{
    flex: 1 1 45rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.about .row .image img{
    width: 100%; 
    height: auto; 

}

.about .row .content{
    flex: 1 1 45rem;   
    
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 2.5rem;
    line-height:1.8;
    
}

.about .row .content p{
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height:1.8;
    text-align: justify;
}


.myprofile .heading{
    margin-top: 2rem;
}
.myprofile .box {
    text-align: center;
    background: #fff; 
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin: 3rem;

 }

.myprofile .box img{
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    
}

.myprofile .box .user-info h2{
    color: var(--black);
    font-size: 2.5rem;
}

.myprofile .box .user-info h4{
    color: var(--light-color);
    font-size: 1.3rem;
    line-height: 1.8;
    padding-right: 3rem;
    padding-left: 3rem;
}



.myprofile .box .user-info .details {
    color: var(--pink);
    font-size: 1.5rem;

}

.myprofile .box .user-info .details span{
    color: var(--pink);
    font-size: 1.5rem;
    text-transform: lowercase;
}

.myprofile .box .user-info .details p{
    color: var(--pink);
    font-size: 1.5rem
}




.dermatologist .box-container{
    
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.dermatologist .box-container .box{
   text-align: center;
   background: #fff; 
   border-radius: .5rem;
   border: var(--border);
   box-shadow: var(--box-shadow);
   padding: 2rem;
}

.dermatologist .box-container .box img{
   height: 20rem;
   border: var(--border);
   border-radius: .5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.dermatologist .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;

}

.dermatologist .box-container .box span{
    color: var(--pink);
    font-size: 1.5rem;

}

.dermatologist .box-container .box .share{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;  
}

.dermatologist .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 3rem;
    align-items: center;
    color: var(--pink);
    border-radius: .5rem ;
    border: var(--border);
    margin: .3rem;
    
}

.dermatologist .box-container .box .share a:hover{
    background: var(--pink);
    color:#fff;
    box-shadow: var(--box-shadow);
}

.subscribe .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
    
}

.subscribe .row form{
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.subscribe .row form h3{
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.subscribe .row form p{
    color: var(--pink);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;

}



.subscribe .row form .box{
    width: 50%;
    margin-top: .5rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
    
}


.subscribe .row form .btn{
    padding: 1rem 2rem;
}


.consultation .heading{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.consultation .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    
}

.consultation .row .image{
    flex: 1 1 45rem;
}

.consultation .row .image img{
    width: 100%;
}


.consultation .row form{
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 3rem;
    border-radius: .5rem;

}

.consultation .row form h3{
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.consultation .row form .box{
    width: 100%;
    margin-top: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}


.consultation .row form .btn{
    padding: 1rem 4rem;
}

.review {
    background: #fff;
    padding: 5rem 0;
    text-align: center;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 2rem;
}

.review .box {
    width: 100%;
    max-width: 30rem; /* Set a maximum width */
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.review .box:hover {
    transform: scale(1.05);
}

.review .box img {
    width: 100%;
    height: 30rem; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.review .box h3 {
    color: var(--black);
    font-size: 1.8rem;
    margin: 1.8rem 0;
}

.review .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.review .stars i {
    color: #ffd700; /* Golden star color */
    font-size: 1.2rem;
    margin: 0 0.2rem;
}

.review .box p.text {
    padding: 0 1.5rem;
    color: var(--black);
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}


.blogs .heading{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    
}

.blogs .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding-top: 2rem;
}


.blogs .box-container .box .visual{
    height: 30rem;
    overflow: hidden;
    border-radius: 1rem;
    
}

.blogs .box-container .box .visual iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .visual iframe{
    transform:scale(1.2);

}

.blogs .box-container .box .visual img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .visual img{
    transform:scale(1.2);

}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.blogs .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color)
}

.blogs .box-container .box .content .icon a:hover{
    color: var(--pink);

}

.blogs .box-container .box .content .icon a i{
   padding-right: 1rem;
   padding-left: 1rem; 
   color: var(--pink);
}

.blogs .box-container .box .content h3{
    color: var(--black);
    font-size: 3rem;
    
}

.blogs .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.acne .content h3{
    color: var(--pink);
    font-size: 3rem;
    margin: 5rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
}

.acne .content h2{
    color: var(--black);
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.acne .content ul{
    color: var(--black);
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.acne .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    margin-left: 5rem;;
}

.aging  h3{
    color: var(--pink);
    font-size: 3rem;
    margin: 5rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
}

.aging h2{
    color: var(--black);
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.aging ul{
    color: var(--black);
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.aging p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    margin-left: 5rem;;
}

.rejuve h3{
    color: var(--pink);
    font-size: 3rem;
    margin: 5rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
}

.rejuve h2{
    color: var(--black);
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.rejuve ul{
    color: var(--black);
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.rejuve p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    margin-left: 5rem;;
}


.facialhair  h3{
    color: var(--pink);
    font-size: 3rem;
    margin: 5rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
}

.facialhair  h2{
    color: var(--black);
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.facialhair ul{
    color: var(--black);
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.facialhair  p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    margin-left: 5rem;;
}

.hydra  h3{
    color: var(--pink);
    font-size: 3rem;
    margin: 5rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
}

.hydra h2{
    color: var(--black);
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.hydra  ul{
    color: var(--black);
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.hydra p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    margin-left: 5rem;;
}

.disorder h3{
    color: var(--pink);
    font-size: 3rem;
    margin: 5rem;
    margin-bottom: 2rem;
    text-shadow: var(--text-shadow);
}

.disorder  h2{
    color: var(--black);
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.disorder  ul{
    color: var(--black);
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 2rem;
}

.disorder  p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    margin-left: 5rem;
}





.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;

}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
   padding-right: .5rem; 
   color: var(--pink);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem; 
 }

.footer .container p{
   padding: 1rem;
   padding-top: 2rem;
   margin-top: 2rem;
   text-align: center;
   font-size: 2rem;
   color: var(--light-color);
   border-top: .1rem solid rgba(0,0,0, .1);
}

.footer .container a{
    color: var(--pink);
 }

 .footer .container nav {
    text-align: center;
    display: block;
}





/*media queries */
@media (max-width:991px){
    html{

        font-size: 55%;
    }

.header{
    padding: 2rem;

    }
}

section{
    padding: 2rem; 
}

@media (max-width:768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-sizing: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background:#fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;

    }

    .header .navbar .active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

    .header .profile-icon{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-sizing: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background:#fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none; 
    }

    .header .profile-icon .active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar i{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
}


@media (max-width:450px){
    html{

        font-size: 50%;
    }
}